<div class="row">
	<div class="col-md-3">
		<h2>
  		<%= @course.name %>
		</h2>

		<p>
 		<strong>Rating:</strong>
  		<% if @avg_ratings < 1 %>
 		Not yet rated!
 		<% else %>
  		<span class="stars"><%= @avg_ratings %></span>
  		<% end %>
		</p>

		<p> <%= "#{@reviews.length} reviews"%> </p>
		<p>
 		<strong>Number:</strong>
  		<%= @course.number %>
		</p>

		<p>
  		<strong>Prof:</strong>
  		<%= @course.prof %>
		</p>

		<p>
  		<strong>Credits:</strong>
  		<%= @course.credits %>
		</p>

		<%= link_to "Write a Review", new_course_review_path(@course) , class: "btn btn-primary" %>
	</div>

	<div class="col-md-9">
		<% if @reviews.blank? %>
			<h3> No reviews yet. Be first one to write one </h3>
		<% else %>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-3"></th>
					<th class="col-md-9"></th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
					<tr>
						<td>
							<h4> <%= "#{review.user.fullname.titleize}" %> </h4>
							<p> <%= review.created_at.strftime("%-d/%-m/%y")%> </p>
						</td>
						<td>
							<p><span class="stars"><%= review.rating %></span></p>
							<p> <b>Grading:</b> <%= h(review.grading).gsub(/\n/,'<br/>').html_safe %> </p>
							<p> <b>Learning:</b> <%= h(review.learning).gsub(/\n/,'<br/>').html_safe %> </p>
							<p> <b>Where it can be applied:</b> <%= h(review.apply).gsub(/\n/,'<br/>').html_safe %> </p>
							<p> <b>Prerequisites:</b> <%= h(review.prerequisites).gsub(/\n/,'<br/>').html_safe %> </p>
							<p> <b>How will it be useful:</b> <%= h(review.usefulforcareer).gsub(/\n/,'<br/>').html_safe %> </p>
							<% if logged_in? %>
								<% if (review.user == current_user) || current_user.admin? %>
									<%= link_to "Edit",edit_course_review_path(@course,review)%>
									<%= link_to "Delete",course_review_path(@course,review), method: :delete %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</div>

<%= link_to 'Edit', edit_course_path(@course) , class: "btn btn-link" %> |
<%= link_to 'Back', courses_path ,class: "btn btn-link"%>
