<%= form_for([@course, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
  <h3>Instructions for writing reviews</h3> <br/>
  <ul> 
    <li> Some instructions for the reviews </li>
    <li> Some instructions for the reviews </li>
    <li> Some instructions for the reviews </li>
    <li> Some instructions for the reviews </li>
  </ul>
</div>
  <div class="form-group">
    <%= f.label :rating %><br>
    <%= f.hidden_field(:rating, :value => @review.rating) %>
    <div class="rating">
    <span id="5" class="glyphicon glyphicon-star"></span>
    <span id="4" class="glyphicon glyphicon-star"></span>
    <span id="3" class="glyphicon glyphicon-star"></span>
    <span id="2" class="glyphicon glyphicon-star"></span>
    <span id="1" class="glyphicon glyphicon-star"></span>
    </div>
  </div>
  <br><br>
  <div class="form-group">
    <p> Grading </p>p><br>
    <%= f.text_area :grading , class: "form-control"%>
  </div>

   <div class="form-group">
    <p> What did you learn out of this course? </p> <br>
    <%= f.text_area :learning  , class: "form-control"%>
  </div>

   <div class="form-group">
    <p> Where can you apply this? </p><br>
    <%= f.text_area :apply  , class: "form-control"%>
  </div>

   <div class="form-group">
    <p> Pre-requisites for the course </p><br>
    <%= f.text_area :prerequisites  , class: "form-control"%>
  </div>

  <div class="form-group">
    <p> How will course be useful for your career? </p><br>
    <%= f.text_area :usefulforcareer  , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
